<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="__noGmain g_html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<meta name="viewport" content="width=640,target-densitydpi=device-dpi,maximum-scale=1.0, user-scalable=no">-->

    <link rel="shortcut icon" href="data:;base64,=">
    <meta name="description" content="">
    <meta itemprop="name" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>Join Us</title>

    <link type="text/css" href="./css/siteBase2.min.css" rel="stylesheet">
    <link type="text/css" href="./css/base2.min.css" rel="stylesheet">
    <link type="text/css" href="./css/dist/module.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/component/swiper.min.css">
    <link type="text/css" href="./css/fkTheme.min.css" rel="stylesheet">
    <link id="sysnavlink" type="text/css" href="./css/fkNav.min.css" rel="stylesheet">
    <link type="text/css" href="./css/floatBtn1.min.css" rel="stylesheet">
    <link type="text/css" href="./css/jzcusstyle.css" rel="stylesheet">

    <script type="text/javascript" src="./js/jquery-core.min.js"></script>
    <script type="text/javascript" src="./js/jquery-mousewheel.min.js"></script>
    <script type="text/javascript" src="./js/jquery-ui-core.min.js"></script>
    <script type="text/javascript" src="./js/jquery-parallax.min.js"></script>
    <script type="text/javascript" src="./js/include.min.js"></script>

    <style type="text/css" id="styleBannerBg">
        .webBannerTable {
            background: none !important;
        }

        .webBanner {
            background: none !important;
        }</style>
    <style type="text/css" id="stylebacktotop">
        /*web::-webkit-scrollbar {
            display:none
        }*/
    </style>
    </head>

<body style="">
<div id="web" class="" :style="web_layout">
    <!--header page-->
    <include src="./header.html"></include>

    <!--banner area-->
    <div class="webBannerTable J_webBannerTable">
        <div class="fk-moduleZoneWrap" style="background-color: white;">
            <div id="webBanner" class="webBanner">
                <div class="bannerTable">
                    <div class="bannerLeft"></div>
                    <div class="bannerCenter">
                        <div style="visibility:hidden;" class="fk-inBannerListZone-tmp forms">
                        </div>
                        <div class="bannerTop"></div>
                        <div id="bannerV2" class="banner extBanner" fbheight="300" defaultwidth="0"
                             :style="'height: ' + (240 * heightRate) + 'px; background: none; overflow: hidden;'">
                            <div class="imageSwitchShowName"><span class="spanHiddenName spanShowName"></span></div>
                            <div class="imageSwitchBtnArea clearFix"
                                 style="position: absolute; z-index: 3; display: none; width: 19px;"><a
                                    class="imageSwitchBtn imageSwitchBtnSel"><span>1</span></a></div>
                            <div></div>
                            <div class="switchGroup switchGroup_bannerV2 "
                                 :style="'width: 100%; position: relative; height: ' + (300 * heightRate) + 'px; overflow: hidden; margin: 0px auto;'">
                                <div class="J_billboardItem numImg" id="numImg0"
                                     style="position: absolute; width: 100%;">
                                    <my-banner></my-banner>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="bannerRight"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="fullmeasureBottomForms"
         class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureBottomForms"
         style="background-color: white;">
        <!--height: 889px;-->
        <div id="module560" _indexclass="formIndex1" _moduletype="1" _modulestyle="109" _moduleid="560"
             class="form form560 formIndex1 formStyle109 fk-formFullmeasure " title="" _sys="0" _banid=""
             :style="'width: 85%; margin: 0 ' + (10 * widthRate) + 'rem;'" _side="0" _intab="0" _inmulmcol="0"
             _infullmeasure="0" _inpack="0" _inpopupzone="0"
             _infullmeasurepack="0" _intabpack="0" _autoheight="0" _global="false" _independent="false"
             data-scrollbar="0" fmslidestyle="0" fmpage="1" iscarousel="0" displaytime="4" carouselspeed="1"
             cuscarousel="0">
            <!--<div class="fillContentRelative"
                 style="position:absolute; z-index:-1; height:100%; width:100%;display:none;"></div>-->
            <div style="position: static;"
                 class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">
                <div class="fullmeasureOuterContentBg fullmeasureOuterContentBg560 fullmeasureStyle12"></div>
                <div class="fullmeasureOuterContent fullmeasureOuterContent560">
                    <!--margin: 0 0 40px 0;-->
                    <div class="fullmeasureContent560" id="fullmeasureContent560_1" moduleid="560"
                         style="">
                        <div class="fullmeasureContentBg fullmeasureContentBg560"></div>
                        <div class="J_zoneEnableAll J_fullmeasurePackContent elemZone elemZoneModule fk-formPack"
                             moduleid="560" id="fk-inFullmeasureListZone560-1">
                            <!--<div class="fk-elemZoneBg J_zoneContentBg"></div>-->

                            <!--current location area-->
                            <div id="module562" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86"
                                 _moduleid="562" class="form form562 formStyle86 siteEditor " title="" _sys="0"
                                 _banid="" :style="'position:absolute;top:' + (21 * heightRate) + 'px;left: 3%;'" _side="0"
                                 _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0"
                                 _infullmeasurepack="560" _intabpack="0" _autoheight="0" _global="false"
                                 _independent="false" data-scrollbar="0">
                                <div class="lightModuleOuterContent lightModuleOuterContent562">
                                    <div class="fk-editor simpleText   ">
                                        <span :style="'font-size: ' + (14 * heightRate) + 'px;'" v-text="isEn ? currPosition.en : currPosition.cn"></span>
                                    </div>
                                </div>
                            </div>

                            <!--split line area-->
                            <div id="module565" bannertitle="图片" _indexclass="" _moduletype="1" _modulestyle="79"
                                 _moduleid="565" class="form form565 formStyle79" title="" _sys="0" _banid=""
                                 :style="'position:absolute;top: ' + (70 * heightRate) + 'px;left:3%;width: 100%'"
                                 _side="0" _intab="0"
                                 _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _infullmeasurepack="560"
                                 _intabpack="0" _autoheight="0" _global="false" _independent="false" data-scrollbar="0">
                                <div class="lightModuleOuterContent lightModuleOuterContent565">
                                    <div class="floatImg floatImg_J floatImg_J_special"><a hidefocus="true"
                                                                                           class="J_floatImg_jump f_floatImg_jump ">
                                        <div class="floatImgWrap">
                                            <div class="forMargin"><img id="float_img_565" style="width: 96%;"
                                                                        class="lazyload_transparent float_in_img J_defImage"
                                                                        src="./images/common/split-line.png"
                                                                        alt="AD0I98nwCRAEGAAgqabl7QUo1r_1SDCwCTgB"
                                                                        data-imgloaded="true"></div>
                                        </div>
                                    </a>
                                    </div>
                                </div>
                            </div>

                            <member-service></member-service>

                            <div valign="top" class="formMiddleCenter formMiddleCenter561" :style="'margin: ' + (40 * heightRate) + 'px 0 0 0;'"><!---->
                                <div tabstyle="0"
                                     class="formMiddleContent formMiddleContent561 formTabMiddleContent fk-formContentOtherPadding"
                                     style="overflow-y: hidden;">
                                    <div class="m_foldtab">

                                        <for-job></for-job>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfloat clearfloat560"></div>
            </div>
        </div>

        <div id="module416" _indexclass="formIndex4" _moduletype="1" _modulestyle="109" _moduleid="416"
             class="form form416 formIndex4 formStyle109 fk-formFullmeasure " title="" _sys="0" _banid=""
             :style="'height: ' + (384 * heightRate) + 'px;width: 100%;'" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0"
             _infullmeasurepack="0" _intabpack="0" _autoheight="0" _global="false" _independent="false"
             data-scrollbar="0" fmslidestyle="0" fmpage="1" iscarousel="0" displaytime="4" carouselspeed="1"
             cuscarousel="0">
            <!--<div class="fillContentRelative"
                 style="position:absolute; z-index:-1; height:100%; width:100%;display:none;"></div>-->
            <div style="position: static;"
                 class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">
                <!--background-sponsor-->
                     <!--:style="'transform: translateY(' + ((1 - heightRate) * 100) + '%);'"></div>-->
                <div class="fullmeasureOuterContentBg fullmeasureOuterContentBg416 fullmeasureStyle12"
                     :style="'height: ' + (400 * heightRate) + 'px;'"></div>
                <div class="fullmeasureOuterContent fullmeasureOuterContent416">
                    <div class="fullmeasureContent416" id="fullmeasureContent416_1" moduleid="416"
                         style="height: 100%;">
                        <!--class="fullmeasureContentBg fullmeasureContentBg416"-->
                        <!--<div ></div>-->
                        <div class="J_zoneEnableAll J_fullmeasurePackContent elemZone elemZoneModule fk-formPack"
                             moduleid="416" id="fk-inFullmeasureListZone416-1">
                            <!--<div class="fk-elemZoneBg J_zoneContentBg"></div>-->
                            <div id="module434" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86"
                                 _moduleid="434" class="form form434 formStyle86 siteEditor " title="" _sys="0"
                                 _banid="" :style="'width: 100%; height: ' + (100 * heightRate) + 'px; margin: ' + (50 * heightRate) + 'px 0 0 0;'" _side="0"
                                 _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0"
                                 _infullmeasurepack="416" _intabpack="0" _autoheight="0" _global="false"
                                 _independent="false" data-scrollbar="0">
                                <div class="lightModuleOuterContent lightModuleOuterContent434">
                                    <div class="fk-editor simpleText fk-editor-break-word" style="text-align: center;"><span
                                            :style="'color: rgb(53, 53, 53); font-size: ' + (23 * heightRate) + 'px;'"><span
                                            style="font-family: fontface__思源宋体Heavy__16__1036063319685;" v-text="isEn ? 'Our Sponsors' : '赞助商'">Our Sponsors</span></span>
                                    </div>
                                </div>
                            </div>
                            <our-sponsor></our-sponsor>
                        </div>
                    </div>
                </div>
                <div class="clearfloat clearfloat416"></div>
            </div>
        </div>
        <wbr style="display:none;">
    </div>

    <!--toTop-->
    <div class="site_to_top" title="To Top" onclick="backToTop();"></div>

    <!--footer page-->
    <include src="./footer.html"></include>
    <!--<div class="clearfloat"></div>-->
</div>

<audio controls="controls" style="display: none;"></audio>
<link rel="stylesheet" href="./js/component/horizontal-timeline/css/reset.css">
<link rel="stylesheet" href="./js/component/horizontal-timeline/css/style.css">

<script type="text/javascript" src="./js/component/swiper.min.js"></script>
<script type="text/javascript" src="./js/component/vue-2.4.2.min.js"></script>
<script type="text/javascript" src="./js/component/vue-resource-1.5.0.min.js"></script>
<script src="./js/component/horizontal-timeline/js/modernizr.js"></script>
<script src="js/component/horizontal-timeline/js/jquery-1.10.2-min.js"></script>
<script src="./js/component/horizontal-timeline/js/jquery.mobile.custom.min.js"></script>
<script src="./js/component/horizontal-timeline/js/main.js"></script>
<script type="text/javascript" src="./js/common.js"></script>

<template id="my-banner">
    <div class="J_bannerItem f-bannerItem" title="" :style="bStyle">
        <div id="fk-inBannerListZone-0" _sys="1"
             _banid="AD0I98nwCRAEGAAggaHl7QUo3b6wrwIwgA84rAI" style="text-align: left;"
             class="elemZone elemZoneModule fk-moduleZone fk-inBannerListZone forms sideForms J_moduleZone ">
            <div class="fk-inBannerListZoneBg fk-elemZoneBg J_zoneContentBg elemZoneBg"></div>
        </div>
    </div>
</template>

<!--<template id="project-content">
    <div>
        &lt;!&ndash;location area&ndash;&gt;
        <div id="module542" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86"
             _moduleid="542" class="form form542 formStyle86 siteEditor " title="" _sys="0"
             _banid="" :style="'position:absolute;top:24px;left:8px;width:' + (400 * widthRate) + 'px;'" _side="0"
             _intab="0"
             _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _infullmeasurepack="541"
             _intabpack="0" _autoheight="0" _global="false" _independent="false" data-scrollbar="0">
            <div class="lightModuleOuterContent lightModuleOuterContent542">
                <div class="fk-editor simpleText"><span :style="'font-size: ' + (14 * heightRate) + 'px;'" v-text="location"></span>
                </div>
            </div>
        </div>

        <div v-for="(proContent, index) in proContents">
            <div v-if="proContent.theme == 2020" id="" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86"
                 _moduleid="482" class="form form482 formStyle86 siteEditor " title="" _sys="0"
                 _banid=""
                 :style="'position: absolute; top: 202px; left: 11px; width: ' + (1180 * widthRate) + 'px; height: 66px;'"
                 _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0"
                 _infullmeasurepack="473" _intabpack="0" _autoheight="0" _global="false"
                 _independent="false" data-scrollbar="0">
                <div class="lightModuleOuterContent lightModuleOuterContent482">
                    <div class="fk-editor simpleText   ">
                        <div><span
                                style="font-family: fontface__思源宋体heavy__16__1176749612397; font-size: 36px;"></span>
                        </div>
                        <span style="line-height: 30px;"><div style="font-size: 14px;"></div><div
                                style="color: rgb(102, 102, 102); font-size: 14px;"><span
                                style="font-family: 微软雅黑, &quot;microsoft yahei&quot;;"></span></div><font
                                face="微软雅黑, Microsoft YaHei"><span style="font-size: 14px;"
                                                                   v-html="proContent.content"></span></font><div
                                style="color: rgb(102, 102, 102); font-size: 14px;"><span
                                style="font-family: fontface__思源宋体heavy__16__1176749612397;"></span></div></span>
                    </div>
                </div>
            </div>
            <div v-if="proContent.theme != 2020" id="module485" bannertitle="文本" _indexclass="" _moduletype="1"
                 _modulestyle="86"
                 _moduleid="485" class="form form485 formStyle86 siteEditor " title="" _sys="0"
                 _banid=""
                 :style="'position: absolute; top: 591px; left: 8px; width: ' + (1190 * widthRate) + 'px; height: 165px;'"
                 _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0"
                 _infullmeasurepack="473" _intabpack="0" _autoheight="0" _global="false"
                 _independent="false" data-scrollbar="0">
                <div class="lightModuleOuterContent lightModuleOuterContent485">
                    <div class="fk-editor simpleText   ">
                        <div><span style="font-family: fontface__思源宋体heavy__16__1176749612397; font-size: 36px;"></span>
                        </div>
                        <span style="line-height: 30px;">
                            <div style="font-size: 14px;"></div>
                            <div style=""><span
                                    style="font-size: 14px; font-family: 微软雅黑, &quot;microsoft yahei&quot;;"></span></div>
                            <div v-if="proContent.theme == 2019" style=""><div style=""><font
                                    face="微软雅黑, Microsoft YaHei">
                                <span style="font-size: 14px;" v-html="proContent.content"></span></font>
                            </div>
                            <div style=""><font face="微软雅黑, Microsoft YaHei"><span
                                    style="font-size: 14px;"><br></span></font></div>
                            <div v-if="proContent.theme == 2018" style=""><font face="微软雅黑, Microsoft YaHei">
                                <span style="font-size: 14px;" v-html="proContent.content"></span></font></div>
                            </div>
                            <div style=""><span
                                    style="font-family: fontface__思源宋体heavy__16__1176749612397; font-size: 14px;"></span></div><div
                                style="font-size: 14px;"><span
                                style="font-family: fontface__思源宋体heavy__16__1176749612397;"></span></div></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>-->

<template id="member-service">
    <div id="member_service">
    <div :style="'margin: ' + (120 * heightRate) + 'px ' + (18 * widthRate) + 'px 0px 0; width: 90%;'" class="" title="">
        <div :style="imgStyle">
            <div class=""><a hidefocus="true" class="J_floatImg_jump f_floatImg_jump ">
                <div class="">
                    <div class=""><img style="width: 75%;" class="J_img_lazyLoad float_in_img J_defImage"
                                       data-original="" :src="memService.image"
                                       alt="AD0I98nwCRAEGAAgqabl7QUo1r_1SDCwCTgB"
                                       data-imgloaded="true"></div>
                </div>
            </a>
            </div>
        </div>
        <div :style="'margin: 0px 0 0 ' + (300 * widthRate) + 'px;width: 70%;'">
            <div class="">
                <div class="fk-editor simpleText   "><font color="#353535"
                                                           face="思源宋体Heavy, fontface__思源宋体Heavy__16__1176749612397"><span
                        :style="'font-size: ' + (23 * heightRate) + 'px;'" v-text="webVue.isEn ? memService.theme.en : memService.theme.cn"></span></font></div>
            </div>
        </div>
        <div :style="'margin: ' + (16 * heightRate) + 'px 0px 0px ' + (190 * widthRate) + 'px;width: 93%;line-height: ' + (16 * heightRate) + 'px;'">
            <div class="fk-editor simpleText">
                <!--<div><span style="font-family: fontface__思源宋体heavy__16__1176749612397; font-size: 36px;"></span></div>-->
                <div style="line-height: 30px;">
                    <div style="font-size: 14px;"></div>
                    <div style="color: rgb(102, 102, 102); font-size: 14px;"></div>
                </div>
                <span :style="'font-family: 微软雅黑, &quot;microsoft yahei&quot;; font-size: ' + (14 * heightRate) + 'px;'"
                      v-text="webVue.isEn ? memService.content.en : memService.content.cn"></span>
            </div>
        </div>
    </div>
    </div>
</template>

<template id="for-job">
    <div>
        <div v-for="job in jobList" class="tab_item tab_anim tab_active">
            <div class="tab_title J_tabItemContextMenuTrigger" v-text="webVue.isEn ? job.category.en : job.category.cn"
                 :style="'font-size: ' + (23 * heightRate) + 'px;padding: ' + (10 * heightRate) + 'px 0 ' + (18 * heightRate) + 'px 20px;'">
                <div class="tab_icon">
                    <div class="tab_icon_a"></div>
                    <div class="tab_icon_b"></div>
                </div>
            </div>
            <!--class="tab_content"-->
            <div>
                <!--class="elemZone elemZoneModule J_tabPackContent J_tabItemContextMenuTrigger fk-formPack f_tab_pack_content"-->
                <div id="tabPackContent561-0" moduleid="561">
                    <div class="fk-elemZoneBg J_zoneContentBg fk-tabPackBg"></div>
                    <div class="newsList J_newsList  newsNewModuleStyle_four " id="newsList629" _showsetting="0"
                         newslisttype="6" scroll="0">
                        <!--height: 500px;-->
                        <div v-for="(jp, index) in job.positions" topclassname="top1" topswitch="on" newsid="6"
                             class="J_newsListLine line J_nHover   fk-newsLineHeight  newsListLine1"
                             :style="'float: left;  width: 44%; margin: ' + (15 * heightRate) + 'px ' + (20 * widthRate) + 'px;border: 1px solid #eee;'">
                            <table id="lineBody6" class="J_lineBody lineBody"
                                   cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr id="module629tr6">
                                    <td class="mixNewsTitle newsListLineBodyTd" valign="top">
                                        <div id="module568" bannertitle="文本" _indexclass=""
                                             _moduletype="1" _modulestyle="86" _moduleid="568"
                                             class="form568 formStyle86 siteEditor " title=""
                                             _sys="0" _banid=""
                                             style="margin: 10px 0px 20px 10px;"
                                             _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0"
                                             _inpack="0" _inpopupzone="0" _infullmeasurepack="0"
                                             _intabpack="561" _autoheight="0" _global="false"
                                             _independent="false" data-scrollbar="0">
                                            <div class="lightModuleOuterContent lightModuleOuterContent568">
                                                <div class="fk-editor simpleText"><span
                                                        :style="'font-size: ' + (18 * heightRate) + 'px;line-height: ' + (24 * heightRate) + 'px;'"
                                                        v-text="webVue.isEn ? jp.position.en : jp.position.cn"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--style="position: absolute; top: 81px; left: 61px; width: 484px;"-->
                                        <div id="module571" bannertitle="文本" _indexclass=""
                                             _moduletype="1" _modulestyle="86" _moduleid="571"
                                             class="form571 formStyle86 siteEditor " title=""
                                             style="margin: 20px 0px 0px 16px;padding: 5px 15px;"
                                             _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0"
                                             _inpack="0" _inpopupzone="0" _infullmeasurepack="0"
                                             _intabpack="561" _autoheight="0" _global="false"
                                             _independent="false" data-scrollbar="0">
                                            <div class="lightModuleOuterContent lightModuleOuterContent571">
                                                <div class="fk-editor simpleText   ">
                                                    <div style=""><font color="#999999"><span
                                                            style="font-size: 14px;"></span></font>
                                                    </div>
                                                    <span style="line-height: 22px;">
                                            <div id="jobItem" v-for="jobItem in jp.items">
                                                <div
                                                        style=""><font color="#999999"><span
                                                        :style="'font-size: ' + (16 * heightRate) + 'px;line-height: ' + (28 * heightRate) + 'px;'"
                                                        v-text="webVue.isEn ? jobItem.item.en : jobItem.item.cn"></span></font></div>
                                                <div v-for="detail in (webVue.isEn ? jobItem.details.en : jobItem.details.cn)"
                                                     style=""><font color="#999999"><span
                                                        :style="'font-size: ' + (14 * heightRate) + 'px;'" v-html="detail"></span></font></div>
                                                <!--<div v-for="detail in jobItem.details"
                                                     style=""><font color="#999999"><span
                                                        :style="'font-size: ' + (14 * heightRate) + 'px;'" v-html="detail"></span></font></div>
                                                -->
                                                <div style="height: 10px;"><font color="#999999"><span
                                                        style="font-size: 14px;"><br></span></font></div>
                                            </div>
                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfloat"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="our-sponsor">
    <!-- margin: 150px 0 0 0-->
    <div class="swiper-container-sponsor banner" :style="'background: none;margin-top: ' + (140 * heightRate) + 'px;'">
        <!--margin-left: -1059px;-->
        <!--width: 2150px; -->
        <div class="swiper-wrapper demo0 J_photoForms J_listPhotosMarquee" id="demo0436"
             :style="'margin-left: ' + ((-120) * widthRate) +'px;'">
            <div class="swiper-slide" v-for="(sponsor, index) in sponsorList" :key="sponsor.id" photodisc=""
                 photoname="" photoid="index"
                 class="J_photoForm photoMarqueeForm"
                 :style="'margin-right: ' + (30 * widthRate) + 'px; padding: 0px; margin-bottom: 0px; height: ' + (86 * heightRate) + 'px;'"
                 faiwidth="165" faiheight="84">
                <div class="insert_desc_warp_class">
                    <!--width:170px;-->
                    <div :id="sponsor.id"
                         photoname="" photodisc="" check="3"
                         tmppic="AD0I98nwCRAEGAAgjovl7QUoqIj_igUwpQE4VA"
                         _lide="" class="J_listPhotoImg imgDiv"
                         :style="'height: ' + (86 * heightRate) + 'px;'">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td>
                                    <!--overflow: hidden;transform: scaleY(1.2); */-->
                                    <div class="J_photoImgPanel"
                                         style="position: relative; ">
                                        <a :href="'./sponsor-pdf.html?'+ dataPath + sponsor.link"><img
                                                class="J_photoImg photoImg"
                                                picsca="2"
                                                :style="'margin-top: ' + (35 * heightRate) + 'px;'"
                                                :src="sponsor.image"
                                                :iwidth="(165 * widthRate)" :iheight="(100 * heightRate)"
                                                alt="" title="">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    $(document).ready(function () {
        selectedNav('5');
    });

    Vue.component('my-banner', {
        template: '#my-banner',
        data() {
            return {
                banner: {},
                bStyle: {},
                widthRate: document.body.clientWidth / 1390,
                heightRate: window.screen.availHeight / 728
            }
        },
        methods: {
            getBanner() {
                this.$http.get('./data/joinUs.json').then(res => {
                    this.banner = res.body.banner;
                    this.bStyle = {
                        backgroundImage: "url(" + this.banner.image + ")",
                        backgroundRepeat: "no-repeat",
                        height: (200 * this.heightRate)+ "px",
                        backgroundPosition: "40% 50%",
                        overflow: "hidden",
                        display: "block",
                        outline: "none",
                        margin: "0px auto",
                        position: "relative",
                        zIndex: "1",
                        backgroundSize: "cover"
                    }
                })
            }
        },
        created() {
            this.getBanner()
        },
        mounted() {

        },
        beforeUpdate() {

        },
        updated() {

        },
        watch: {},
        beforeDestroy() {
            delete this.banner;
        }
    })

    Vue.component('member-service', {
        template: '#member-service',
        data() {
            return {
                memService: {},
                isPc: os.isPc,
                imgStyle: {},
                widthRate: document.body.clientWidth / 1390,
                heightRate: window.screen.availHeight / 728
            }
        },
        methods: {
            getDatas() {
                this.$http.get('./data/joinUs.json').then(res => {
                    this.memService = res.body.memberService;
                    if (this.isPc) {
                        this.imgStyle = {
                            width: '33%',
                            float: 'left',
                            margin: '0 0 0 0;'
                        }
                    } else {
                        this.imgStyle = {
                            width: '43%',
                            float: 'left',
                            margin: '0 0 0 0;'
                        }
                    }
                })
            }
        },
        created() {
            this.getDatas()
        },
        mounted() {

        },
        beforeUpdate() {

        },
        updated() {

        },
        watch: {},
        beforeDestroy() {
            delete this.memService;
        }
    })

    Vue.component('for-job', {
        template: '#for-job',
        data() {
            return {
                jobList: [],
                widthRate: document.body.clientWidth / 1390,
                heightRate: window.screen.availHeight / 728
            }
        },
        methods: {
            getDatas() {
                this.$http.get('./data/joinUs.json').then(res => {
                    this.jobList = res.body.jobList;
                })
            }
        },
        created() {
            this.getDatas()
        },
        mounted() {

        },
        beforeUpdate() {

        },
        updated() {

        },
        watch: {},
        beforeDestroy() {
            delete this.jobList;
        }
    })

    Vue.component('our-sponsor', {
        template: '#our-sponsor',
        data() {
            return {
                sponsorList: [],
                swiper: null,
                widthRate: document.body.clientWidth / 1390,
                heightRate: window.screen.availHeight / 728,
                dataPath: baseURL + "data/pdf/"
            }
        },
        methods: {
            getSponsorList() {
                this.$http.get('./data/index.json').then(res => {
                    this.sponsorList = res.body.sponsorList;
                    Vue.nextTick(() => {
                        this.swiper = new Swiper('.swiper-container-sponsor', {
                            //spaceBetween: 30,
                            centeredSlides: true,
                            speed: 6000,
                            loop: true,
                            breakpoints: {
                                320: {
                                    slidesPerView: 2,
                                    spaceBetween: 10
                                },
                                768: {
                                    slidesPerView: 3,
                                    spaceBetween: 20
                                },
                                1280: {
                                    slidesPerView: 4,
                                    spaceBetween: 30
                                }
                            },
                            autoplay: {
                                delay: 20,
                                disableOnInteraction: true,
                            },
                            /*pagination: {
                                el: '.swiper-pagination',
                                clickable: true,
                                dynamicBullets: true,
                                dynamicMainBullets: 2
                            },*/
                            /*navigation: {
                                nextEl: '.swiper-button-next',
                                prevEl: '.swiper-button-prev',
                            },*/
                        });
                    })
                })
            }
        },
        created() {
            this.getSponsorList()
        },
        mounted() {

        },
        beforeUpdate() {

        },
        updated() {

        },
        watch: {},
        beforeDestroy() {
            delete this.sponsorList
            delete this.swiper
        }
    })

    webVue = new Vue({
        el: '#web',
        data: {
            widthRate: document.body.clientWidth / 1390,
            heightRate: window.screen.availHeight / 728,
            isPc: os.isPc,
            isEn: isEn,
            currPosition: null,
            web_layout: {}
        },
        methods: {
            getData: function () {
                this.$http.get('./data/joinUs.json').then(res => {
                    this.currPosition = res.body.currPosition;
                })
                if (this.isPc){
                    this.web_layout = {
                        top: '51px',
                        width: '100%',
                        /*background: 'rgb(179, 179, 181)',*/
                        overflow: 'scroll'
                    }
                    /*let html = document.getElementsByTagName('html')[0];
                    html.style.width = 1351 + 'px';*/
                } else {
                    this.web_layout = {
                        top: '51px',
                        width: '100%',
                        /*background: 'rgb(179, 179, 181)',
                        height: '1200px',*/
                        overflow: 'scroll'
                    }
                }
            }
        },
        created() {
            this.getData();
        }
    })
</script>
</body>

</html>