<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule-2020</title>
    <link type="text/css" href="./css/siteBase2.min.css" rel="stylesheet">
    <link type="text/css" href="./css/base2.min.css" rel="stylesheet">
    <link type="text/css" href="./css/dist/module.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/component/swiper.min.css">
    <link type="text/css" href="./css/fkTheme.min.css" rel="stylesheet">
    <link id="sysnavlink" type="text/css" href="./css/fkNav.min.css" rel="stylesheet">
    <link type="text/css" href="./css/floatBtn1.min.css" rel="stylesheet">
    <link type="text/css" href="./css/jzcusstyle.css" rel="stylesheet">

    <script type="text/javascript" src="./js/jquery-core.min.js"></script>
    <script type="text/javascript" src="./js/jquery-mousewheel.min.js"></script>
    <script type="text/javascript" src="./js/jquery-ui-core.min.js"></script>
    <script type="text/javascript" src="./js/jquery-parallax.min.js"></script>
    <script type="text/javascript" src="./js/include.min.js"></script>

    <style type="text/css" id="styleWebSite">
        #bannerV2 .fk-inBannerListZone {
            width: 1200px;
        }

        #bannerV2 .fk-inBannerListZone {
            margin-left: -600px;
        }</style>
    <style type="text/css" id="styleBannerBg">.webBannerTable {
        background: none !important;
    }

    .webBanner {
        background: none !important;
    }</style>
    <style type="text/css" id="stylebacktotop">.fk_siteBackToTop {
        position: fixed;
    }

    .fk_siteBackToTop {
        width: 50px;
    }

    .fk_siteBackToTop {
        height: 50px;
    }

    .fk_siteBackToTop {
        margin: 1px;
        background-image: url(./images/common/toTop-1.png);
    }
    .go_back {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        top: 30px;
        left: 40px;
        font-size: 18px;
        z-index: 99;
        border-radius: 50%;
    }
    </style>
</head>

<body class="">

<div id="web" class="" style="">
    <div style="width: 100%; height: 30px;"></div>
    <!--header page-->
    <!--<include src="./header.html"></include>-->

    <div id="" class="go_back" title="go back" onclick="goBack();">
        <img src="./images/common/goBack.png" style="width: 70%;cursor: pointer;">
    </div>

    <!--our team area-->
    <div id="module392" _indexclass="formIndex1" _moduletype="1" _modulestyle="109" _moduleid="392"
         class="form form392 formIndex1 formStyle109 fk-formFullmeasure " title="" _sys="0" _banid=""
         style="margin: 30px 0 40px 0;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0"
         _infullmeasurepack="0" _intabpack="0" _autoheight="0" _global="false" _independent="false"
         data-scrollbar="0" fmslidestyle="0" fmpage="1" iscarousel="0" displaytime="4" carouselspeed="1"
         cuscarousel="0">
        <div class="fillContentRelative"
             style="position:absolute; z-index:-1; height:100%; width:100%;display:none;"></div>
        <div style="position: static;"
             class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">
            <div class="fullmeasureOuterContentBg fullmeasureOuterContentBg392 fullmeasureStyle12"></div>
            <div class="fullmeasureOuterContent fullmeasureOuterContent392">
                <div class="fullmeasureContent fullmeasureContent392" id="fullmeasureContent392_1" moduleid="392" style="width: 90%;">
                    <div class="fullmeasureContentBg fullmeasureContentBg392"></div>

                    <!--exhibition area-->
                    <schedule-2020></schedule-2020>

                </div>
            </div>
            <div class="clearfloat clearfloat392"></div>
        </div>
    </div>

    <!--footer page-->
    <include src="./footer.html"></include>
    <div class="clearfloat"></div>
</div>

<!--toTop-->
<div id="siteBackToTop_small_box" class="fk_siteBackToTop" title="To Top" _style="secondStyle_04"
     style="right: 57px; bottom: 10px; display: block;" onclick="backToTop();">
</div>

<link rel="stylesheet" href="./js/component/horizontal-timeline/css/reset.css">
<link rel="stylesheet" href="./js/component/horizontal-timeline/css/style.css">

<script type="text/javascript" src="./js/component/swiper.min.js"></script>
<script type="text/javascript" src="./js/component/vue-2.4.2.min.js"></script>
<script type="text/javascript" src="./js/component/vue-resource-1.5.0.min.js"></script>
<script src="./js/component/horizontal-timeline/js/modernizr.js"></script>
<script src="js/component/horizontal-timeline/js/jquery-1.10.2-min.js"></script>
<script src="./js/component/horizontal-timeline/js/jquery.mobile.custom.min.js"></script>
<script src="./js/component/horizontal-timeline/js/main.js"></script>
<script type="text/javascript" src="./js/common.js"></script>

<template id="schedule-2020">
    <div id="module417" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86"
         _moduleid="417" class="form form417 formStyle86 siteEditor " title="" _sys="0"
         _banid="" style="margin: 30px 0px 0px;width: 65%;margin: 30px 78px 0px 78px;"
         _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0"
         _infullmeasurepack="392" _intabpack="0" _autoheight="0" _global="false"
         _independent="false" data-scrollbar="0">
        <div class="lightModuleOuterContent lightModuleOuterContent417" style="margin: 0 0 35px 0;">
            <div class="fk-editor simpleText fk-editor-break-word  "><font color="#353535"
                    face="思源宋体Heavy, fontface__思源宋体Heavy__16__1000187496002"><span
                    style="font-size: 30px;line-height: 40px;" v-html="webVue.isEn ? schedule.name.en : schedule.name.cn"></span></font></div>
        </div>

        <div class="J_zoneEnableAll J_fullmeasurePackContent elemZone elemZoneModule fk-formPack"
             moduleid="392" id="fk-inFullmeasureListZone392-1">
            <div class="fk-elemZoneBg J_zoneContentBg"></div>
            <div class="newsList J_newsList pic-mixNewsList " id="newsList556"
                 _showsetting="1" newslisttype="2" scroll="0">
                <div v-for="plan in schedule.list" style="margin: 0 0 36px 0;">
                    <div topclassname="top1" topswitch="on" newsid="2" style="height: auto;">
                        <table id="lineBody2" cellpadding="0" cellspacing="0" class="J_lineBody lineBody">
                            <tbody>
                            <tr id="module556tr2">
                                <td valign="top" class="J_newsTitle newsTitle mixNewsTitle" >
                                    <!--<div newid="2" newsflag="8" class="J_articlePhotoBox articlePhotoBox " style="float: left;width: 205px;margin: 0 18px 0 0;">
                                        <a target="_blank" class="J_articlePicHref articlePicLink2"
                                           style="width: 205px; height: 119px;cursor: pointer;">
                                            <img alt="文章附图" title="" :src="belowText.image" class="J_newsListPic newsPic newsListNewPic"
                                                 @click="jumpHandle(belowText.toPage);" style="width: 195px; height: 119px;"></a></div>-->
                                    <div class="mixNewsStyleTitleContainer" style="">
                                        <div class="J_newsListTopFlag  newsListTopFlag2"><a target="_blank" class="no-mixNewsStyleTitleTip"></a></div>
                                        <!--<span class="mixNewsStyleDate fk-newsListDate" style="margin: 6px 0 0 728px;float: right;margin-right: 20px;font-size: 16px;"
                                              v-text="webVue.isEn ? belowText.date.en : belowText.date.cn"></span>-->
                                        <div hidefocus="true" mix="1" class="J_mixNewsStyleTitle fk-newsListTitle mixNewsStyleTitle  pic-mixNewsStyleTitle font-titleShowCase"
                                           style="font-size: 23px; line-height: 28px; font-weight: normal; cursor: pointer;"v-text="webVue.isEn ? plan.name.en : plan.name.cn" ></div></div>
                                    <!--<br><br>-->
                                    <div class="mixNewsStyleSummary fk-newsListSummary  pic-mixNewsStyleSummary "
                                       style="font-size: 14px;margin: 13px 0 0px 0;line-height: 23px;color: #9a9aaf;" v-text="webVue.isEn ? plan.time.en : plan.time.cn"></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="row_line_wrap col_one">
                        <div class="m_row_line"></div>
                    </div>-->
                    <div class="J_separatorLine separatorLine g_separator  pic-separatorLine" style="border-style: inset;border-width: 0.5px;border-color: rgb(232, 227, 227);"></div>
                </div>
            </div>
        </div>

    </div>

    <!--<div class="J_zoneEnableAll J_fullmeasurePackContent elemZone elemZoneModule fk-formPack"
         moduleid="392" id="fk-inFullmeasureListZone392-1">
        <div class="fk-elemZoneBg J_zoneContentBg"></div>
        <div class="newsList J_newsList pic-mixNewsList " id="newsList556"
             _showsetting="1" newslisttype="2" scroll="0">

        </div>
    </div>-->

    <!--<div id="extShow" style="margin: 100px 0 0 0;">
        <div v-for="(exhibition, index) in exhibitions">
            <div class="" style="position: relative;float: left; width: 300px;height: 300px; margin: 10px 15px;">
                <div :id="event.id" bannertitle="图片" _indexclass="" _moduletype="1" _modulestyle="79" style="margin: 0 17.5px;"
                     _moduleid="419" class="form form419 formStyle79" title="" _sys="0" _banid="" _side="0" _intab="0"
                     _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _infullmeasurepack="392"
                     _intabpack="0" _autoheight="0" _global="false" _independent="false" data-scrollbar="0">
                    <div class="lightModuleOuterContent lightModuleOuterContent419">
                        <div class="floatImg floatImg_J floatImg_J_special"><a hidefocus="true">
                            <div class="floatImgWrap">
                                <div class="forMargin">
                                    <img id="float_img_419" style="width: 300px; height: 328px;cursor: pointer;"
                                         class="J_img_lazyLoad float_in_img J_defImage" alt="AD0I98nwCRAEGAAgt6vl7QUojOyxpgQwnQI4owI"
                                         :src="exhibition.image">
                                </div>

                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</template>

<script>

    Vue.component('schedule-2020', {
        template: '#schedule-2020',
        data() {
            return {
                schedule: {}
            }
        },
        methods: {
            getSchedule() {
                this.$http.get('./data/showCase.json').then(res => {
                    this.schedule = res.body.schedule;
                })
            }
        },
        created() {
            this.getSchedule()
        },
        mounted() {

        },
        beforeUpdate() {

        },
        updated() {

        },
        watch: {},
        beforeDestroy() {
            delete this.schedule;
        }
    })

    webVue = new Vue({
        el: '#web',
        data: {
            isEn: isEn
        }
    })
</script>
</body>

</html>