<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TIFF-2018</title>
    <link type="text/css" href="./css/siteBase2.min.css" rel="stylesheet">
    <link type="text/css" href="./css/base2.min.css" rel="stylesheet">
    <link type="text/css" href="./css/dist/module.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/component/swiper.min.css">
    <link type="text/css" href="./css/fkTheme.min.css" rel="stylesheet">
    <link id="sysnavlink" type="text/css" href="./css/fkNav.min.css" rel="stylesheet">
    <link type="text/css" href="./css/floatBtn1.min.css" rel="stylesheet">
    <link type="text/css" href="./css/jzcusstyle.css" rel="stylesheet">

    <script type="text/javascript" src="./js/jquery-core.min.js"></script>
    <script type="text/javascript" src="./js/jquery-mousewheel.min.js"></script>
    <script type="text/javascript" src="./js/jquery-ui-core.min.js"></script>
    <script type="text/javascript" src="./js/jquery-parallax.min.js"></script>
    <script type="text/javascript" src="./js/include.min.js"></script>

    <style type="text/css" id="styleWebSite">
        #bannerV2 .fk-inBannerListZone {
            width: 1200px;
        }

        #bannerV2 .fk-inBannerListZone {
            margin-left: -600px;
        }</style>
    <style type="text/css" id="styleBannerBg">.webBannerTable {
        background: none !important;
    }

    .webBanner {
        background: none !important;
    }</style>
    <style type="text/css" id="stylebacktotop">.fk_siteBackToTop {
        position: fixed;
    }

    .fk_siteBackToTop {
        width: 50px;
    }

    .fk_siteBackToTop {
        height: 50px;
    }

    .fk_siteBackToTop {
        margin: 1px;
        background-image: url(./images/common/toTop-1.png);
    }

    /*pop-up window start*/
    .mask {
        background-color: #000;
        opacity: 0.3;
        position: fixed;
        top: 10%;
        left: 0%;
        width: 100%;
        height: 80%;
        z-index: 1
    }
    .pop {
        background-color: rgba(255, 255, 255, 0.6);
        position: absolute;
        top: 0px;
        /*left: 100px;*/
        /*width: calc(100% - 600px);
        height:calc(100% - 200px);*/
        text-align: left;
        width: 265px;
        height: 300px;
        padding: 9px 5px 5px 5px;
        z-index: 2
    }
    /*.multiLineText {
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 18;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }*/
    .btn {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid blue;
        padding: 4px 12px;
    }
    /*pop-up window end*/

    .go_back {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        top: 30px;
        left: 40px;
        font-size: 18px;
        z-index: 99;
        border-radius: 50%;
    }
    </style>
</head>

<body class="">

<!--<div id="web" class="" style="width: 1499px;">
    <div style="width: 100%; height: 30px;"></div>-->
<body style="background: rgb(246,246,250);">
<div id="web" class="" :style="web_layout">
    <!--header page-->
    <!--<include src="./header.html"></include>-->

    <div id="" class="go_back" title="go back" onclick="goBack();">
        <img src="./images/common/goBack.png" style="width: 70%;cursor: pointer;">
    </div>

    <!--our team area-->
    <div id="module392" _indexclass="formIndex1" _moduletype="1" _modulestyle="109" _moduleid="392"
         class="form form392 formIndex1 formStyle109 fk-formFullmeasure " title="" _sys="0" _banid=""
         style="margin: 30px 0 40px 0;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0"
         _infullmeasurepack="0" _intabpack="0" _autoheight="0" _global="false" _independent="false"
         data-scrollbar="0" fmslidestyle="0" fmpage="1" iscarousel="0" displaytime="4" carouselspeed="1"
         cuscarousel="0">
        <div class="fillContentRelative"
             style="position:absolute; z-index:-1; height:100%; width:100%;display:none;"></div>
        <div style="position: static;"
             class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">
            <div class="fullmeasureOuterContentBg fullmeasureOuterContentBg392 fullmeasureStyle12"></div>
            <div class="fullmeasureOuterContent fullmeasureOuterContent392">
                <div class="fullmeasureContent fullmeasureContent392" id="fullmeasureContent392_1" moduleid="392" style="width: 80%;">
                    <div class="fullmeasureContentBg fullmeasureContentBg392"></div>

                    <!--exhibition area-->
                    <div class="J_zoneEnableAll J_fullmeasurePackContent elemZone elemZoneModule fk-formPack"
                         moduleid="392" id="fk-inFullmeasureListZone392-1">
                        <div class="fk-elemZoneBg J_zoneContentBg"></div>
                        <div id="module417" bannertitle="文本" _indexclass="" _moduletype="1" _modulestyle="86"
                             _moduleid="417" class="form form417 formStyle86 siteEditor " title="" _sys="0"
                             _banid="" style="margin: 3% 0 0 1%;"
                             _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0"
                             _infullmeasurepack="392" _intabpack="0" _autoheight="0" _global="false"
                             _independent="false" data-scrollbar="0">
                            <div class="lightModuleOuterContent lightModuleOuterContent417">
                                <div class="fk-editor simpleText fk-editor-break-word  "><font color="#353535"
                                        face="思源宋体Heavy, fontface__思源宋体Heavy__16__1000187496002"><span
                                        style="font-size: 36px;" v-text="isEn ? 'exhibition' : '会展'"></span></font></div>
                            </div>
                        </div>

                        <exhibition-2018></exhibition-2018>
                    </div>
                </div>
            </div>
            <div class="clearfloat clearfloat392"></div>
        </div>
    </div>

    <!--toTop-->
    <div class="site_to_top" title="To Top" onclick="backToTop();"></div>

    <!--footer page-->
    <include src="./footer.html"></include>
    <div class="clearfloat"></div>
</div>

<!--toTop-->
<!--<div id="siteBackToTop_small_box" class="fk_siteBackToTop" title="To Top" _style="secondStyle_04"
     style="right: 57px; bottom: 10px; display: block;" onclick="backToTop();">
</div>-->

<link rel="stylesheet" href="./js/component/horizontal-timeline/css/reset.css">
<link rel="stylesheet" href="./js/component/horizontal-timeline/css/style.css">

<script type="text/javascript" src="./js/component/swiper.min.js"></script>
<script type="text/javascript" src="./js/component/vue-2.4.2.min.js"></script>
<script type="text/javascript" src="./js/component/vue-resource-1.5.0.min.js"></script>
<script src="./js/component/horizontal-timeline/js/modernizr.js"></script>
<script src="js/component/horizontal-timeline/js/jquery-1.10.2-min.js"></script>
<script src="./js/component/horizontal-timeline/js/jquery.mobile.custom.min.js"></script>
<script src="./js/component/horizontal-timeline/js/main.js"></script>
<script type="text/javascript" src="./js/common.js"></script>

<template id="exhibition-2018">
    <div id="extShow" :style="'margin: ' + (70 * heightRate) + 'px 0 50px 0;'">
        <div v-for="(exhibition, index) in exhibitions" >
            <div class="" :style="tiffStyle" style="height: 230px;">
                <div :id="event.id" bannertitle="图片" _indexclass="" _moduletype="1" _modulestyle="79" style="margin: 0 17.5px;"
                     _moduleid="419" class="form form419 formStyle79" title="" _sys="0" _banid="" _side="0" _intab="0"
                     _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _infullmeasurepack="392"
                     _intabpack="0" _autoheight="0" _global="false" _independent="false" data-scrollbar="0">
                    <div class="lightModuleOuterContent lightModuleOuterContent419">
                        <div class="floatImg floatImg_J floatImg_J_special"><a hidefocus="true">
                            <div class="floatImgWrap">
                                <div class="forMargin">
                                    <img id="float_img_419" style="width: 98%;"
                                         class="J_img_lazyLoad float_in_img J_defImage" alt="AD0I98nwCRAEGAAgt6vl7QUojOyxpgQwnQI4owI"
                                         :src="exhibition.image">
                                </div>

                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div v-if="(index+1)%4 == 0" style="width: 100%;height: 36px;float: left;"></div>-->
        </div>
    </div>
</template>

<script>

    Vue.component('exhibition-2018', {
        template: '#exhibition-2018',
        data() {
            return {
                widthRate: document.body.clientWidth / 1390,
                heightRate: window.screen.availHeight / 728,
                exhibitions: [],
                isPc: os.isPc,
                tiffStyle: {}
            }
        },
        methods: {
            getExhibitions() {
                this.$http.get('./data/showCase.json').then(res => {
                    this.exhibitions = res.body.exhitions_2018;
                    if (this.isPc) {
                        this.tiffStyle = {
                            position: 'relative',
                            float: 'left',
                            width: '22%',
                            height: 180 * this.heightRate + 'px',
                            /*height: '100%',*/
                            margin: '2% 2% 0 0'
                        }
                    } else {
                        this.tiffStyle = {
                            position: 'relative',
                            float: 'left',
                            width: '30%',
                            height: 180 * this.heightRate + 'px',
                            margin: '2% 2% 0 0'
                        }
                    }
                })
            }
        },
        created() {
            this.getExhibitions()
        },
        mounted() {

        },
        beforeUpdate() {

        },
        updated() {

        },
        watch: {},
        beforeDestroy() {
            delete this.exhibitions;
        }
    })

    webVue = new Vue({
        el: '#web',
        data: {
            widthRate: document.body.clientWidth / 1390,
            heightRate: window.screen.availHeight / 728,
            isPc: os.isPc,
            isEn: isEn,
            web_layout: {},
        },
        methods: {
            getData: function () {
                if (this.isPc) {
                    this.web_layout = {
                        top: '51px',
                        width: '100%',
                        background: 'rgb(248,248,250)'
                    }
                    /*let html = document.getElementsByTagName('html')[0];
                    html.style.width = 1351 + 'px';*/
                } else {
                    this.web_layout = {
                        top: '51px',
                        width: '100%',
                        background: 'rgb(245,245,248)',
                        height: '1200px',
                        overflow: 'scroll'
                    }
                }
            }
        },
        created() {
            this.getData();
        }
    });
</script>
</body>

</html>